* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #333;
}

p {
  font-weight: 400;
  color: #666;
}


.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.thread-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.thread-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

 
#start-button{
  background-color: #007BFF;
}

#stop-button{
  background-color: #ff1e00;
}

#restart-button{
  background-color: #ffae00;
}
